/* PROPIO DE CONSECUENCIAS */
.flex-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 20px;
  padding: 10px;
  background-color: #e6ecf0;
}

.content {
  flex: 1;
  margin-right: 20px;
}

.imagen_1 {
  width: 100%;
  max-width: 430px;
  height: auto;
  border-radius: 8px;
}

.image {
  background-image: url(..\img\imagen\ principal.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}


section {
  background-color: #f7f2f2;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

p {
  line-height: 1.6;
}

.imagen_2 {
  width: 100%;
  max-width: 560px;
  margin-top: 15px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  margin-left: 20px;
}

/* CELULAR */
@media (max-width: 576px) {
  .flex-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .imagen_1, .imagen_2 {
    margin: 0;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #154360;
    padding-top: 10px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
  }

  #check:checked ~ nav {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
  }

  nav ul li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .flex-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .imagen_1, .imagen_2 {
    max-width: 100%;
    margin: 0;
  }

}

/* ORDENADOR */
@media (min-width: 1200px) {
  .flex-item {
    flex-direction: row;
  }

  .content {
    margin-right: 20px;
  }
}