/* PROPIO DE CONSECUENCIAS */
.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #e6ecf0;
  text-align: center;
}

.content {
  flex: 1;
  margin-bottom: 20px;
  text-align: justify;
}

.imagen_1, .imagen_2 {
  width: 100%;
  max-width: 100%; 
  height: auto;
  border-radius: 8px;
  margin: 0;
}

p {
  line-height: 1.6;
}

/* TABLET */
@media screen and (min-width: 480px) and (max-width: 785px) {
  .flex-item {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .imagen_1, .imagen_2 {
    margin: 0;
  }
  
}

/* ORDENADOR */
@media screen and (min-width: 1200px) {
  .flex-item {
    flex-direction: row; 
    align-items: flex-start;
    text-align: left;
  }

  .content {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .imagen_1 {
    max-width: 430px; 
  }

  .imagen_2 {
    max-width: 560px; 
    margin-right: 20px;
    margin-left: 20px;
  }
}
