/* PROPIOS DE INICIO */
.containerPrincipal {
  display: grid;
  gap: 10px;
  background-color: #e6ecf0;
  margin: 20px;
  padding: 20px;
}

.map {
   display: flex;
  flex-wrap: wrap;
  margin: 0;
  border: 0;
  width: 100%;
  height: 384px;
  }

.principal-item {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.principal-item1 {
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 10px;
}

.principal-item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  text-align: center;
}

.principal-item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
  text-align: center;
}

.imagen-item2 {
  clip-path: circle(60%);
  width: 150px;
  height: 150px;
}

.image-item3 {
  clip-path: circle(60%);
  width: 150px;
  height: 150px;
}

.ima-pie {
  height: 100px;
}

.containerSecundario {
  display: grid;
  gap: 20px;
  background-color: #e6ecf0;
  margin: 20px;
  padding: 20px;
}

.secundario-item {
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

.secundario-item1 {
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 10px;
}

.secundario-item2 {
  grid-column: 2;
  grid-row: 2 / span 2;
  text-align: center;
}

.image h1 {
  font-size: 40px;
}

.image-secu1 {
  clip-path: circle(60%);
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.image-secu2 {
  clip-path: circle(60%);
  height: 250px;
  width: 300px;
  object-fit: cover;
  opacity: 0.6;
}

.containerPrincipal-Videos {
  display: flex;
  background-color: #e6ecf0;
  margin: 30px;
  padding: 20px;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

aside {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
  align-items: center;
  margin: 0 auto;
  background-color: yellow;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
}

.textPublicity {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-weight: 700;
}

.product {
  border: 1px solid gray;
  width: 15%;
  height: 13rem;
  background-color: white;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem;
  margin: 0.2rem;
}

.product h5,
.product p,
.product a {
  font-size: 10px;
}

.product p {
  font-weight: 500;
}

.product a {
  font-weight: 50;
  text-decoration: none;
  color: blue;
}

/* TABLET */
@media screen and (max-width: 785px) {
  .containerPrincipal, .containerSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerPrincipal-Videos {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    background-color: #e6ecf0;
    margin: 30px;
    padding: 10px;
  }
  .imagen-item2, .image-item3, .image-secu1, .image-secu2 {
    width: 400px;
    height: 400px;
  }

  .containerPrincipal .text, .containerSecundario .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .containerPrincipal .text img, .containerSecundario .text img {
    margin: 10px 0;
    width: 100px;
    height: 100px;
  }
}

/* ORDENADOR */
@media screen and (min-width: 1200px) {
  .containerPrincipal {
    display: grid;
    gap: 10px;
  }

  .principal-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .principal-item1 {
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
  }

  .principal-item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    text-align: center;
  }

  .principal-item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: center;
  }

  .imagen-item2, .image-item3 {
    width: 200px;
    height: 200px;
  }

  .containerSecundario {
    display: grid;
    gap: 20px;
  }

  .secundario-item {
    text-align: center;
    padding: 10px;
    font-size: 10px;
  }

  .secundario-item1 {
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
  }

  .secundario-item2 {
    grid-column: 2;
    grid-row: 2 / span 2;
    text-align: center;
  }

  .image-secu1 {
    height: 300px;
    width: 300px;
  }

  .image-secu2 {
    height: 250px;
    width: 300px;
  }

  .containerPrincipal-Videos {
    display: flex;
    gap: 20px;
    align-content: center;
  }

  aside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
    background-color: yellow;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
  }

  .textPublicity {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-weight: 700;
  }

  .product {
    border: 1px solid gray;
    width: 15%;
    height: 13rem;
    background-color: white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem;
    margin: 0.2rem;
  }

  .product h5, .product p, .product a {
    font-size: 10px;
  }

  .product p {
    font-weight: 500;
  }

  .product a {
    font-weight: 50;
    text-decoration: none;
    color: blue;
  }
}
@media screen and (max-width: 480px)  {
  .containerPrincipal, .containerSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerPrincipal-Videos {
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
    background-color: #e6ecf0;
    margin: 30px;
    padding: 10px;
  }
 
  .imagen-item2, .image-item3, .image-secu1, .image-secu2 {
    width: 200px;
    height: 200px;
  }

  .containerPrincipal .text, .containerSecundario .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .containerPrincipal .text img, .containerSecundario .text img {
    margin: 10px 0;
    width: 100px;
    height: 100px;
  }}