
.containerTerciario{
    display: grid;
  gap: 10px;
  background-color: #e6ecf0;
  margin: 50px;
  padding: 10px;
}
.principal-item{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.terciario-item1{
    text-align:justify;
    grid-column: 1 / span 1;
    grid-row: 1;
    padding: 10px;
}
.terciario-item2 {
    grid-column: 2;
    grid-row: 1 / span 2;
    text-align:center;
  }
  .terciario-item3 {
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: center;
  }


.imagen_derecha {
    width: 100%; 
    height: auto; 

}



/* MEDIA QUERY PARA TABLET */
@media (max-width: 768px) {
    .leftcontainer {
        flex-direction: column;
    }}

/* MEDIA QUERY PARA CELULARES */
@media (max-width: 480px) {
    .leftcontainer p {
        margin-right: 20px; 
    }}