@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
  margin: 0;
  font-family:  "Lora", serif;
}

main {
  background-color: #ddf9f9;
  text-align: justify;
  padding: 20px;
}
p {
  font-size: 16px; 
  color:  #555; 
  margin-bottom: 16px; 
  line-height: 1.5;
  margin-left: 10px; 
}
image{
  background-image:url(..\img\imagen\ principal.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;width: 100%;
  }

  header nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #154360;  
    padding: 10px;
    gap: 10px; 
    position: fixed; /* lo deja fijo */
    top: 0; /* lo deja fijo arriba de todo */
    width: 100%;
    z-index: 1000;  /* lo pone por encima de todo */
    margin-right: 20px;
  }
  
  header nav ul {
    overflow:hidden;
    list-style: none;
  }
  header nav ul li {
    float:left;
  }
  header nav ul li a {
    text-decoration: none;  
    color: white;  
    padding: 20px;  
    z-index: 1000; 
    display: block;
    margin-right: 10px;
  }
  header nav ul li a spam {
    margin-right: 10px;
  }
  
  nav a:hover {
    color: rgb(182, 66, 182);
  }
  
  nav a:active{
    color:rgb(106, 18, 68);
  }
  
  h1 {
    background-image: url(../img/imagen/ principal.jpeg);
    height: 40px;
    font-size: 30px; 
    margin: 40px; 
    margin-inline: 0px;
    text-align:center; 
    color:azure;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
    h2 {font-family: 'Courier New', Courier, monospace;
      font-size: 30px; 
      margin: 0px; 
      text-align:center; 
      margin-bottom: 30px;
    }
  
    h3{
      background-image: url(../img/Aviacion-Naval.jpg);
      font-size: 20px; 
      margin: 0px; 
      text-align:center; 
      color:#2C3E50;
      margin-bottom: 10px;
      border-radius: 5px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .p1 {color:rgb(190, 190, 186);}
    .p1::first-letter {font-size: 150%;}
    #centrado:hover {transform: scale(1.3);transition:5s;}
  
    .p2::first-letter {font-size: 150%;}
    
  div img { margin: 0;
    border: 0;
    width: 100%;}
  
  .flexbox-0 {
    background-image: url("..\img\naty\lampara 2.png");
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color:#154360; 
    margin: 0;
    border: 0;
    width: 100%;}
  
  #centrado { 
  text-align: center;
  justify-content: center;
  align-items:center;
  font-style:italic; 
  margin: 30px; 
  margin-bottom: 50px;
  font-size: 50px;}
  
  
  .imagen_izquierda {
  width:50%;
  max-height: 300px; 
  min-height: 200px;
  display: flex;
  align-self: baseline;
  float:left} 
  
  .leftcontainer2 {width:50%;}
  .imagen_izquierda:hover {transform: scale(1.1);transition:5s;}
  
  .s2 {  display: flex;
    justify-content:space-between; height:max-content;}
  
  
  #fondo {  
    background-color:#c878dc;
    background-image: url(../img\sustentabilidad-hacia-el-2025.jpg);
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    opacity: 0.4;}
   
    .flexbox1 {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      color:rgb(10, 10, 10); 
      }
  
    .flex-item1 {
      padding: 15px;
      max-width: calc(31.45% - 20px); }
    .flex-item1:hover {transform: scale(1.10);transition:5s;}
  
      #contenedor_foto {
      background-image: url("..\img\naty\energia menos cielo.png");
      width:100%;
      height: auto;
      margin-bottom: 30px;
      justify-items: flex-end ;flex-direction: column;
      align-items: flex-start;}
  
  
  
    ul.acciones {
      justify-content:center;
      align-items: center;
      margin: 40px;
      padding: 0.5px;
      border: 20px;
      }
    
    li::first-letter { font-size: 110%;}
    li:hover {transform: scale(1.10);transition:8s;}
  
  
  
    .negro { background-color:rgb(17, 18, 17);
      color: #ffffff; 
      padding: 20px;
    }

    form {
      /* Centrar el formulario en la página */
      margin: 2 auto;
      width:auto;
      /* Esquema del formulario */
      padding: 1%;
      border: 1px solid #ccc;
      border-radius: 1em;}
    
    
    .button {
      background-color: rgb(242, 230, 246);
      outline: 1px solid #c878dc;
      border-radius: 6px;
      padding: 8px;
      justify-content: center;
      align-items: center;}

      .button2 {   
        justify-content: center;
        padding: 20px;
      }

      .logo {
        width:30%;
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        justify-content:center;
        text-align:center;
        width: 100%;
        gap: 16px;}
  
     .logo:hover {transform: scale(1.1);transition:5s;
      color: rgb(182, 66, 182);
    }
     .logo:active {
      color:rgb(106, 18, 68);
    }
    
  footer div a {color:rgb(231, 215, 226);
  margin: 10px;
  padding: 15px;
  align-content: center;
  justify-content:center;
  margin-inline: 20px;
  }
  footer div a:hover {
    color: rgb(182, 66, 182);
  }
  footer div a:active{
    color:rgb(106, 18, 68);
  }
  footer div a spam { margin-right: 10px;}


  @media screen and (min-width: 480px) {
    .flex-item {
      max-width: calc(100% - 50px);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .flex-item {
      max-width: calc(100% - 20px);
    }
  }

  @media screen and (max-width: 800px) {
    header nav {
      width: 55%;
      height: 100%;
      left: -100%;
      margin:0;
      position:fixed;
    }
  header nav ul li {
    display:block;
    float:none;
    border-bottom:1px solid color white;
  
  }
  .menu_bar {
    display: block;
    width: 100%;
    background: #2C3E50;
  }
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #ccc;
    background:#2C3E50 ;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
    box-sizing: border-box;
}
.menu_bar span {
  float: right;
  font-size: 40px;
  color: #e4f6f6;
 }
  }