@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5f63bm');
  src:  url('fonts/icomoon.eot?5f63bm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5f63bm') format('truetype'),
    url('fonts/icomoon.woff?5f63bm') format('woff'),
    url('fonts/icomoon.svg?5f63bm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-phone:before {
  content: "\e942";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
